@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@{
    Layout = "_LayoutLogin1";
}

<div class="container" style="margin-top:150px;">
<h1 class="mt-lg-5">@ViewData["Title"]</h1>
<p>Enter your email.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="background:	 #e6e6e6;" />
                <label asp-for="Input.Email" class="form-label" style="color:black;"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class=" btn btnnormal mt-3">Reset Password</button>
        </form>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
