@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
@{
    Layout = "_LayoutLogin1";
}
<div class="container" style="margin-top:150px;">
<h1 class="mt-lg-5">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</div>