@page
@using BulkyBook.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    Layout = "_LayoutLogin1";
}

<link href="~/css/style.css" rel="stylesheet">



<div class="container text-center" style="margin-top:100px;">

    
<h3 class="pt-4">Register - PORTAL, Create a new account.</h3>
<h3 class="pt-4">After registering your account, <span style="color:#cda45e;">check and confirm your email</span> to complete registration process.</h3>




<div class="row pt-4" >
    <div class="col-md-12 "  >
        
        <form id="registerForm" style="background:transparent;" class="row "  asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-floating py-2 col-12" >
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" style="height:45px;" />
                <label asp-for="Input.Email" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.Name" class="form-control"  aria-required="true" style="height:45px;" />
                <label asp-for="Input.Name" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true"  style="height:45px;"/>
                <label asp-for="Input.PhoneNumber" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.StreetAddress" class="form-control" aria-required="true"   style="height:45px;"/>
                <label asp-for="Input.StreetAddress" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.City" class="form-control" aria-required="true"  style="height:45px;" />
                <label asp-for="Input.City" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.State" class="form-control"  aria-required="true"  style="height:45px;"/>
                <label asp-for="Input.State" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.PostalCode" class="form-control"  aria-required="true" style="height:45px;"/>
                <label asp-for="Input.PostalCode" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  style="height:45px;" />
                <label asp-for="Input.Password" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6" >
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" style="height:45px;" />
                <label asp-for="Input.ConfirmPassword" class="ms-2" style="color:black;"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @if(User.IsInRole(SD.Role_Admin)){
            <div class="form-floating py-2 col-6" >
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class=form-select>
                    <option disabled selected>-Select Role-</option>
                </select>
                
            </div>
 
            }
                   <div class=" py-2 col-12">
            <button id="registerSubmit" type="submit" class="btn btntransparent p-2" style="width:200px;">Register</button>

            </div>
         
            
        </form>
    </div>

</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function(){
            $('#Input_Role').change(function(){
                var selection= $('#Input_Role Option:Selected').text();
                if(selection!='Company'){
                    $('#Input_CompanyId').hide();
                }
                else{
                    $('#Input_CompanyId').show();
                }
            })
        })
    </script>
}
