@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
@{
    Layout = "_LayoutLogin1";
}

<div class="container" style="margin-top:150px;">
<h1 class="mt-lg-5">@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
</div>