@model IEnumerable<Transaction>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Transaction List</h3>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Transaction" asp-action="Upsert" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Transaction
            </a>
        </div>
    </div>
    <hr />
    <br />

    <div class="row ">
        <div class="card-header bg-light ml-0">
            <div class="row bg-dark">
                <div class="col-1  text-center border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5 class="text-white"><strong>Id </strong></h5>
                </div>
                <div class="col-9 text-center border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5 class="text-white"><strong>Name </strong></h5>
                </div>

                <div class="col-2 text-center border">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    <h5 class="text-white"><strong>Action </strong></h5>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="row">

                    <div class="col-1  pt-2 text-center border">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        <h5><strong>@item.Id</strong></h5>
                    </div>

                    <div class="col-9 text-center border">
                        <i class="fa fa-shopping-cart "></i> &nbsp;
                        <h5><strong>@item.Name</strong></h5>
                    </div>




                    @if (item.Name == "cash")
                    {

                    }
                    else if (item.Name == "Credit")
                    {

                    }
                    else if (item.Name == "Cash")
                    {

                    }
                    else if (item.Name == "Pending")
                    {

                    }
                    else
                    {
                        <div class="col-2 text-center border pt-2">
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Upsert"
                           class="btn btn-warning mx-2" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Edit</a>

                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{

    }

