@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout1";
}

@model BulkyBook.Models.Gallery

<div class="container" style="margin-top:150px;">
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
	
	<div class="row">
			<div class="border p-3 mt-4 row">
		<div class="col-12 pb-2">
			@if(Model.Id != 0)
			{
					<h3 class="text-white">Update & Save Image</h3>

				}else
				{
					<h3 class="text-white">Upload Image</h3>
				}
				
			<hr />
		</div>
		
		<div class="mb-3">
			<label asp-for="ImageUrl"></label>
			<input type="file" id="uploadBox" name="file" class="form-control" />
			<span asp-validation-for="ImageUrl" class="text-danger"></span>
		</div>

	

		

	
	
		<div class="col-12">
			@if (Model.Id != 0)
			{
				<button type="submit" class="btn text-white" style="width:190px;background:#cda45e;border-radius:50px;"><i class="bi bi-save"></i> &nbsp;Save</button>
			}
			else
			{
				<button type="submit"  class="btn text-white" style="width:190px;background:#cda45e;border-radius:50px;"><i class="bi bi-plus-circle"></i> &nbsp;Upload</button>
			}
			<a asp-controller="Gallery" asp-action="Index" class="btn text-white btntransparent" style="width:190px;border-radius:50px;border:2px solid #cda45e;"><i class="bi bi-arrow-left-circle"></i> &nbsp;
				Back to List
			</a>
		</div>
	</div>
	</div>
</form>
</div>
@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}