@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout1";
}
<div class="container p-3 mt-5">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="">Comment List</h3>
		</div>
        <div class="col-6 text-end">
          @*  <a asp-controller="Product" asp-action="Upsert" class="btn btn-success">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Product
			</a>*@
		</div>
	</div>
    <hr />
    <br />

<table  id="tblData"  class="table table-bordered table-striped " style="width:100%">
    <thead class="text-white">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Video</th>
            <th>Comment</th>
            <th>Date</th>
            <th>Action</th>

        
		</tr>
	</thead>

</table>
</div>

@section Scripts{
    <script src="~/js/comment.js"></script>
}


 